.error-503 {
  background-color: #e6e6e6;
  text-align: center;
  overflow: hidden;

  @include respond-to(md) {
    height: 100vh;
    overflow: auto;
  }

  @include respond-to(sm) {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-page__title {
    margin-top: 30px;
    position: relative;
    z-index: 1;

    h1 {
      font-weight: 300;
      text-transform: none;
    }

    &-subtitle {
      margin-top: 30px;
      font-weight: 300;

      a {
        padding-top: 3px;
        display: block;
        color: $green;
      }
    }
  }

  &__container {
    margin-top: 20px;
    position: relative;

    & > img {
      @include respond-to(sm) {
        display: none;
      }
    }

    &-text {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include respond-to(sm) {
        position: static;
        left: 0;
        transform: none;
      }

      p {
        color: #5e5e5e;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0.6px;
        padding-bottom: 50px;

        @include respond-to(md) {
          padding-bottom: 20px;
          font-size: 12px;
          letter-spacing: 0.3px;
        }
      }

      span {
        color: #101010;
        font-size: 132px;
        font-weight: 700;
        letter-spacing: 0.8px;

        @include respond-to(md) {
          font-size: 60px;
          letter-spacing: 0.4px;
        }
      }
    }
  }

  &__socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;

    @include respond-to(sm) {
      margin-top: 30px;
      position: static;
    }

    li {
      margin: 0 8px;
    }
  }

  &_v1 {
    .error-503__container {

      &-text {
        top: 120px;
      }
    }

    .error-503__socials {
      bottom: 100px;
    }
  }

  &_v2 {
    .error-503__container {

      & > img {
        transform: translateX(170px);

          @include respond-to(md) {
            max-width: 600px;
            transform: translateX(100px);
          }
      }

      &-text {
        top: 120px;

        @include respond-to(md)  {
          top: 70px;
        }
      }
    }
  }
}
