.error-404 {
  padding: 125px 0 0 150px;

  @include respond-to(md) {
    padding: 100px 15px 15px;
    height: 100vh;
  }

  &__big-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include respond-to(xxl) {
      object-fit: cover;
    }

    @media (min-width: 1921px) {
      object-fit: cover;
    }
  }

  .info-page__title {
    margin-top: 0;
    max-width: 480px;

    h1 {
      color: $white;
      font-weight: 300;
      text-transform: none;
    }

    &-subtitle {
      margin-top: 30px;
      color: $white;
      line-height: 28px;

      @include respond-to(md) {
        margin-top: 15px;
        line-height: 14px;
      }
    }
  }

  &__code {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    text-align: center;
    color: $white;

    p {
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.6px;

      @include respond-to(md) {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.6px;
      }
    }

    span {
      margin-top: 35px;
      display: block;
      font-size: 203px;
      font-weight: 700;
      letter-spacing: 0.8px;

        @include respond-to(md) {
          margin-top: 15px;
          font-size: 101px;
        }
    }
  }
}
