.holding-structure {

  @include respond-to(xxl) {
    padding-right: 30px;
  }

  @include respond-to(md) {
    padding-left: 35px;
    padding-right: 15px;
  }

  &__row {
    max-width: 1130px;
    margin: 0 -37px;
    display: flex;
    flex-wrap: wrap;

    @include respond-to(xl) {
      margin: 0 -15px;
    }

    @include respond-to(xs) {
      margin: 5px -20px 0;
      max-width: 290px;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
  }

  &__col {
    width: 25%;
    padding: 0 37px;

    @include respond-to(xxl) {
      padding: 0 15px;
    }

    @include respond-to(xl) {
      width: 33.3333%;
    }

    @include respond-to(xs) {
      width: 50%;
      padding: 0 20px;
    }
  }

  &__item {
    display: block;
    margin-top: 120px;
    background-color: $white;
    height: 230px;
    position: relative;
    overflow: hidden;

    @include respond-to(xl) {
      margin-top: 40px;
    }

    @include respond-to(md) {
      height: 115px;
    }

    @include respond-to(xs) {
      margin-top: 10px;
    }

    &:after {
      position: absolute;
      content: '';
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $green;
      transform: translateY(100%);
      transition: 0.7s;
    }

    &:hover {
      opacity: 1;

      svg {
        path {
          fill: $white;
          stroke: $white;
        }
      }

      p {
        color: $white;
      }

      &:after {
        transform: none;
      }
    }

    &-content {
      position: relative;
      z-index: 1;
      height: 214px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;

      @include respond-to(md) {
        height: 107px;
        padding: 5px;
      }
    }

    &-image {
      width: 100%;
      margin: 0 auto;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      @include respond-to(md) {
        height: 80px;
      }

      svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 285px;

        @include respond-to(md) {
          width: 150px;
        }

        path {
          fill: $green;
          stroke: $green;
          transition: $delay;
        }
      }
    }

    p {
      color: $black;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      transition: 0.7s;

      @include respond-to(lg) {
        font-size: 16px;
        line-height: 20px;
      }

      @include respond-to(md) {
        font-size: 9px;
        line-height: 13.5px;
      }
    }

    &-bottom {
      position: relative;
      z-index: 1;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $green;

      @include respond-to(md) {
        height: 8px;
      }

      img {
        width: 15px;

        @include respond-to(md) {
          width: 7px;
        }
      }
    }
  }
}
