.internship {
  padding-right: 105px;
  padding-bottom: 180px;

  @include respond-to(xl) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include respond-to(md) {
    padding-bottom: 15px;
  }

  &__slider {
    margin-top: 80px;

    .slick-list {
      margin: 0 -3px;
    }

    .slick-arrow {
      width: 36px;
      height: 62px;
      background-size: 100% 100%;
      z-index: 1;
      transition: $delay;

      &:hover {
        opacity: .8;
      }

      &:before {
        display: none;
      }

      &.slick-prev {
        left: -58px;
        background-image: url('../img/slider-arrow-left.svg');

        @include respond-to(xl) {
          left: -45px;
        }
      }

      &.slick-next {
        right: -58px;
        background-image: url('../img/slider-arrow-right.svg');

        @include respond-to(xl) {
          right: -45px;
        }
      }
    }

    &-item {
      margin: 0 3px;

      img {
        display: block;
      }
    }
  }

  &__open {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 80px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 495px;
    height: 86px;
    background-color: $green;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;

    @include respond-to(md) {
      left: 0;
      transform: none;
      position: static;
    }
  }
}
