.main-page {
  position: relative;
  height: 100%;

  @include respond-to(md) {
    padding-top: 60px;
    background-color: #e7e7e7;
    height: auto;
  }

  &__big-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &:hover {
      opacity: 1;
    }
  }



  &__big-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include respond-to(xxl) {
      object-fit: cover;
    }

    @media (min-width: 1921px) {
      object-fit: cover;
    }
  }

  &__logo {
    top: 0;
    position: absolute;

    @include respond-to(md) {
      width: 104px;
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;
    color: $white;

    @include respond-to(md) {
      flex-direction: column;
    }

    &_margin {
      margin-left: 165px;

      @include respond-to(md) {
        margin-top: 70px;
        margin-left: 0;
      }

      .main-page__title-text {
        @include respond-to(md) {
          max-width: 120px;
        }
      }
    }

    img {
      margin-right: 25px;

      @include respond-to(md) {
        margin-right: 0;
        height: 60px;
      }
    }

    &-info {
      max-width: 730px;
    }

    p {
      padding-top: 13px;
      font-size: 44px;
      line-height: 52px;
      font-weight: 700;
      letter-spacing: 1.1px;
      text-transform: uppercase;

      @include respond-to(md) {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.55px;
      }
    }

    &-text {
      padding-top: 27px;
      font-size: 30px;
      line-height: 34px;
      font-weight: 300;
      letter-spacing: 0.75px;

      @include respond-to(md) {
        padding-top: 10px;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }

  &__news {
    position: absolute;
    top: 390px;
    left: 53px;
    width: 298px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;

    @include respond-to(lg) {
      top: initial;
      bottom: 80px;
      width: 500px;
    }

    @include respond-to(md) {
      margin-left: 40px;
      padding-top: 30px;
      min-height: 100vh;
      position: static;
      display: flex;
      flex-direction: column;
      align-items: flex;
    }

    @include respond-to(xs) {
      width: 100%;
      margin-left: 0;
      font-size: 13px;
      padding-left: 40px;
      padding-right: 40px;
    }

    &-item {
      padding: 28px 45px 28px 18px;
      display: block;
      color: $white;
      margin-bottom: 15px;
      width: 100%;
      background-color: rgba(2, 85, 150, 0.5);

      @include respond-to(md) {
        background-color: #025596;
      }

      @include respond-to(xs) {
        margin-bottom: 12px;
        padding: 22px 35px 18px 14px;
      }

      &:hover {
        background-color: rgba(2, 85, 150, 1);

        @include respond-to(md) {
          background-color: #025596;
        }
      }
    }

    &-all {
      right: 0;
      display: block;
      bottom: -15px;
      position: absolute;
      color: $white;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      letter-spacing: 0.4px;

      @include respond-to(md) {
        color: $black;
        position: static;
        text-align: right;
      }

      @include respond-to(xs) {
        font-size: 13px;
      }
    }

    &-date {
      padding-bottom: 10px;
      width: 188px;
      border-bottom: 4px solid #2cd177;

      @include respond-to(xs) {
        padding-bottom: 7px;
        width: 151px;
        border-width: 3px;
      }

    }

    p {
      padding-top: 10px;
      line-height: 20px;

      @include respond-to(xs) {
        font-weight: 700px;
        padding-top: 5px;
        line-height: 18px;
      }
    }
  }
}

.main-slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0 !important;

  @include respond-to(md) {
    height: calc(100vh - 60px);
  }

  &__item {
    padding: 125px 53px 0;
    height: 100vh;
    position: relative;

    @include respond-to(lg) {
      padding: 50px 25px 0;
    }

    @include respond-to(md) {
      padding: 120px 5px 15px 75px;
    }
  }

  .slick-dots {

    @include respond-to(md) {
      bottom: 40px;
    }

    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 4px;
      bottom: 90px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid $white;
      transition: $delay;

      @include respond-to(lg) {
        bottom: 50px;
      }

      @include respond-to(md) {
        width: 14px;
        height: 14px;
        margin: 0 2.5px;
        bottom: 0;
      }

      span {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $green;
        opacity: 0;
        transition: $delay;

        @include respond-to(md) {
          width: 10px;
          height: 10px;
        }
      }

      &.slick-active {
        border-color: $green;

        span {
          opacity: 1;
        }
      }
    }
  }
}
