.site-map {

  &__container {
    margin-top: 90px;

    @include respond-to(md) {
      padding-left: 15px;
    }

    @include respond-to(xs) {
      margin-top: 30px;
    }
  }

  &__item {
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 20px;

    @include respond-to(xs) {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__name {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    padding-bottom: 2px;
    text-transform: uppercase;
    color: $green;
    border-bottom: 4px solid $green;

    @include respond-to(xs) {
      padding-left: 5px;
    }

    &:before {
      position: absolute;
      content: '';
      left: - 13px;
      bottom: -7px;
      width: 13px;
      height: 13px;
      background-color: $green;
    }
  }

  &__list {
    margin-top: 12px;
    padding-left: 35px;
    position: relative;

    @include respond-to(xs) {
      padding-left: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      top: -11px;
      left: 22px;
      width: 4px;
      height: 100%;
      background-color: $green;

      @include respond-to(xs) {
        left: 7px;
      }
    }

    li {
      position: relative;
      margin-bottom: 15px;

      &:before {
        content: '';
        position: absolute;
        left: -13px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 4px;
        background-color: $green;
      }
    }

    a {
      color: #4a4a4a;
    }
  }
}
