@import 'veriabel';

@include fontface($Helvetica, HelveticaNeueCyr-Light, 300, normal);
@include fontface($Helvetica, HelveticaNeueCyr-Black, 900, normal);
@include fontface($Helvetica, HelveticaNeueCyr-HeavyItalic, 900, italic);
@include fontface($Helvetica, HelveticaNeueCyr-LightItalic, 300, italic);
@include fontface($Helvetica, HelveticaNeueCyr-Medium, 500, normal);
@include fontface($Helvetica, HelveticaNeueCyr-Italic, normal, italic);
@include fontface($Helvetica, HelveticaNeueCyr-Thin, 100, normal);
@include fontface($Helvetica, HelveticaNeueCyr-ThinItalic, 100, italic);
@include fontface($Helvetica, HelveticaNeueCyr-Bold, bold, normal);
@include fontface($Helvetica, HelveticaNeueCyr-UltraLight, 200, normal);
@include fontface($Helvetica, HelveticaNeueCyr-Heavy, 900, normal);
@include fontface($Helvetica, HelveticaNeueCyr-BoldItalic, bold, italic);
@include fontface($Helvetica, HelveticaNeueCyr-Roman, normal, normal);
@include fontface($Helvetica, HelveticaNeueCyr-MediumItalic, 500, italic);

* {
  box-sizing: border-box;


  &:focus {
    outline: none;
  }
}

body {
  font-family: $Helvetica;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: $delay;

  &:hover {
    opacity: .8;
  }
}

input[type="submit"] {
  cursor: pointer;
  transition: $delay;

  &:hover {
    opacity: .8;
  }
}

// .wrapper {
//   margin: 0 auto;
//   width: 100%;
//   max-width: 1200px;
//   padding: 0 15px;
// }

.main {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  position: relative;
  height: 100vh;

  @include respond-to(md) {
    height: auto;


  }
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;

  @include respond-to(md) {
    height: auto;
  }

  &__arrow {
    display: none;
    top: calc(100vh - 30px);
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 22px;
    height: 25px;
    background-image: url('../img/arrow-scroll.png');
    background-size: 100% 100%;

    @include respond-to(md) {
      display: block;
    }
  }
}

.info-page {
  padding: 30px 175px 0;
  background-color: #e6e6e6;

  @include respond-to(xl) {
    padding: 30px 30px 0;
  }

  @include respond-to(md) {
    padding: 77px 15px 15px;
  }

  &__title {
    margin-top: 75px;

    @include respond-to(md) {
      margin-top: 15px;
    }

    h1 {
      color: #5b5b5b;
      font-family: Helvetica;
      font-size: 44px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.1px;

      @include respond-to(md) {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        /* Text style for "Структура" */
        letter-spacing: 0.55px;
      }
    }

    &-subtitle {
      margin-top: 15px;
      color: #343434;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.6px;

      @include respond-to(md) {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
      }
    }
  }
}

.breadcrumbs {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;

  @include respond-to(md) {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.25px;
  }

  a {
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;

    @include respond-to(md) {
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.25px;
    }
  }
}

.cookies-popup {
  width: 100%;
  bottom: 0;
  left: 0;
  height: 63px;
  position: fixed;
  z-index: 3;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  transform: translateY(63px);
  transition: 1s;

  @include respond-to(md) {
    display: none;
  }

  &.show {
    transform: none;
  }

  p {
    margin-left: auto;
    padding-right: 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.35px;
    color: $black;
  }

  &__link {
    color: $green;
    background-color: $white;
    padding: 0 10px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.45px;
  }

  &__close {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-left: auto;
    background-image: url('../img/close-cookies.png');
    background-size: 100% 100%;
  }
}

.search-popup {
  padding: 125px 15px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $green;
  transition: 0.7s;
  transform: translateY(-100vh);

  @include respond-to(md) {
    transform: translateY(-200vh);
    padding: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  &.show {
    transform: none;
  }

  &__close {
    top: 40px;
    right: 30px;
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('../img/close-search.svg');
    background-size: 100% 100%;

    @include respond-to(md) {
      top: 80px;
      right: 20px;
      width: 22px;
      height: 22px;
    }
  }

  h3 {
    text-align: center;
    font-size: 44px;
    font-weight: 300;
    letter-spacing: 1.1px;
    color: $white;

    @include respond-to(md) {
      font-size: 22px;
    }
  }

  &__form {
    margin: 70px auto 0;
    max-width: 750px;
    display: flex;
    align-items: center;

    @include respond-to(md) {
      margin-top: 20px;
      max-width: 400px;
    }

    input {
      border: none;
      background-color: $white;
      width: 100%;
      height: 56px;
      padding-left: 50px;
      color: #343434;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.6px;

      @include respond-to(md) {
        height: 28px;
      }

      &:focus {
        box-shadow: none;
      }
    }

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      width: 78px;
      min-width: 78px;
      height: 58px;
      background-color: #005faa;
      transition: $delay;

      @include respond-to(md) {
        width: 39px;
        min-width: 39px;
        height: 28px;
      }

      &:hover {
        opacity: .8;
      }

      img {
        @include respond-to(md) {
          width: 10px;
        }
      }
    }
  }
}
