.sidebar {
  width: 474px;
  min-width: 474px;
  height: 100vh;
  background-color: $white;
  position: relative;
  z-index: 3;

  @include respond-to(lg) {
    width: 300px;
    min-width: 300px;
  }

  @include respond-to(md) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 60px;
  }

  &__container {
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    overflow: auto;

    @include respond-to(lg) {
      padding: 10px 15px;
    }


    @include respond-to(md) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include respond-to(md) {
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 6;
    width: 28px;
    height: 19px;

    @include respond-to(md) {
      display: flex;
    }

    @include respond-to(xs) {
    }

    span {
      display: block;
      width: 100%;
      background-color: #0060aa;
      height: 5px;
      transition: all 0.4s;
    }

    &.active {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      span {
        &:nth-child(2) {
          display: none;
        }

        &:nth-child(1) {
          transform: rotate(45deg) translateY(4px);
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translateY(-3px);
        }
      }
    }
  }

  &__search {
    @include respond-to(md) {
      margin: 0 40px;
    }

    @include respond-to(xs) {
      max-width: 15px;
      transform: translateY(2.5px);
      margin: 0 20px;
    }
  }

  &__languages {
    display: flex;


    li {
      margin-left: 15px;
      position: relative;
    }

    a {
      color: $black;
      font-family: Helvetica;
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 0.5px;

      @include respond-to(xs) {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.4px;
      }
    }
  }

  &__logo {
    // margin: 105px auto 0;
    margin: 70px auto 0;
    display: block;

    &_desktop {
      display: block;

      @include respond-to(md) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include respond-to(md) {
        display: block;
      }
    }


    @include respond-to(md) {
      margin: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(md) {
      display: none;
      overflow: auto;
      background-color: $white;
      position: fixed;
      width: 100vw;
      top: 60px;
      left: 0;
      height: 100vh;
    }
  }

  &__list {
    // margin-top: 119px;
    margin-top: 60px;
    width: 100%;

    @include respond-to(md) {
      margin-top: 0;
    }

    &-arrow {
      position: absolute;
      right: 40px;
      top: 20px;
      display: none;
      transition: $delay;

      &.active {
        transform: rotate(180deg);
      }

      @include respond-to(md) {
        display: block;
      }
    }

    & > li {
      margin-left: 87px;

      @include respond-to(lg) {
        margin-left: 0;
      }

      @include respond-to(md) {
        margin-bottom: 1px;
        position: relative;
      }

      &:hover {
        .sidebar__dropdown {
          visibility: visible;
          transition: 0.7s;
          transition-timing-function: ease-in-out;
          transition-property: transform;
          transform: rotateY(0);

          @include respond-to(md) {
            transition: none;
            transition-timing-function: none;
            transition-property: none;
          }
        }
      }

      & > a {
        margin-left: 15px;
        padding-right: 15px;
        display: inline-block;
        color: #3a3a3a;
        font-size: 19px;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        position: relative;
        overflow: hidden;

        @include respond-to(md) {
          height: 54px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 0;
          padding-left: 45px;
          padding-right: 40px;
          background-color: #e7e7e7;
        }

        @include respond-to(xs) {
          font-size: 15px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.5px;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          opacity: 0;
          transition: $delay;
          bottom: 0;

          @include respond-to(md) {
            display: none;
          }
        }
        &:before {
          width: 300px;
          height: 8px;
          left: 5px;
          background-image: url('../img/custom-line.png');
          background-size:  100% 100%;
        }

        &:after {
          right: 0;
          width: 9px;
          height: 25px;
          background-image: url('../img/custom-line1.png');
          background-size: 100% 100%;
          background-position: 100% 100%;
          background-repeat: no-repeat;
        }

        &:hover {
          &:before,
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  &__hot-line {
    // margin-top: 97px;
    margin-top: 60px;
    display: block;
    text-align: center;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.35px;

    @include respond-to(md) {
      margin-top: 15px;
    }

    @include respond-to(xs) {
      margin-top: 10px;
      font-size: 11px;
      letter-spacing: 0.35px;
    }
  }

  &__phone {
    margin-top: 10px;
    display: block;
    color: #515151;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    @include respond-to(md) {
      text-align: center;
    }

    @include respond-to(xs) {
      margin-top: 5px;
      font-size: 19px;
      letter-spacing: 0.6px;
    }
  }

  &__call-centre {
    // margin-top: 95px;
    margin-top: 50px;
    text-align: center;

    @include respond-to(md) {
      margin-top: 10px;
    }

    @include respond-to(xs) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50px;
      background-color: $green;
    }

    &-label {
      display: block;
      color: $green;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;

      @include respond-to(xs) {
        color: $white;
        font-size: 11px;
      }
    }

    .sidebar__phone {
      color: $green;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.6px;

      @include respond-to(xs) {
        color: $white;
        font-size: 19px;
      }
    }
  }

  &__socials {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to(md) {
      margin-top: 8px;
    }

    li {
      margin: 0 6.5px;

      @include respond-to(md) {
        margin: 0 5px;
      }

      img {
          @include respond-to(xs) {
            margin: auto;
            max-width: 70%;
            display: block;
          }
      }
    }
  }

  &__copyright {
    margin-top: 20px;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.35px;

    @include respond-to(md) {
      text-align: center;
      line-height: 16px;
      margin-top: 10px;
    }
  }

  &__dropdown {
    position: absolute;
    width: 249px;
    height: 100%;
    // overflow: auto;
    background-color: $green;
    left: 100%;
    top: 0;
    padding: 0 35px;
    visibility: hidden;
    // display: flex;
    // align-items: center;
    transform: rotateY(90deg);
    transform-origin: 0 50%;
    transform-style: preserve-3d;
    transition: 1s;

    @include respond-to(md) {
      position: static;
      display: none;
      width: 100%;
      height: auto;
      padding: 0;
      visibility: visible;
      transform: none;;
      transform-origin: none;
      transform-style: none;
      background-color: transparent;
    }


    &.show {
      visibility: visible;
      transition: 0.7s;
      transition-timing-function: ease-in-out;
      transition-property: transform;
      transform: rotateY(0);
    }

    &-arrow {
      position: absolute;
      content: '';
      width: 0;
    	height: 0;
      right: 100%;
    	border-top: 20px solid transparent;
    	border-right: 23px solid $green;
    	border-bottom: 20px solid transparent;
      transition: 0.7s;

      @include respond-to(md) {
        display: none;
      }
    }

    &-list {
      // margin-top: 418px;
      margin-top: 335px;

      @include respond-to(md) {
        margin-top: 0;
        padding-top: 12px;
        padding-left: 45px;
        padding-right: 40px;
      }

      @include respond-to(xs) {
        padding-top: 5px;
      }

      a {
        margin-bottom: 12px;
        color: $white;
        display: block;
        padding-bottom: 5px;
        border-bottom: 4px solid transparent;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.45px;

        @include respond-to(md) {
          color: #3a3a3a;
        }

        @include respond-to(xs) {
          margin-bottom: 5px;
          font-size: 14px;
          line-height: 16px;
          border-width: 2px;
        }

        &:hover {
          border-color: #2cd177;
        }
      }
    }
  }

}
